<p><a href="/movies">My Movies</a></p>
<p><a href="/movies/add">Add a Movie</a></p>
<p><a href="/books">My Books</a></p>
<p><a href="/books/add">Add a Book</a></p>
<p><a href="/series">My TV</a></p>
<p><a href="/series/add">Add a TV Series</a></p>
<p><a href="/concerts">My Concerts</a></p>
<p><a href="/concerts/add">Add a Concert</a></p>
<p><a href="/plays">My Plays and Musicals</a></p>
<p><a href="/plays/add">Add a Play/Musical</a></p>
